.CardContainer{
    width:33%;
}

.hidden{
    display: none;
}

.cardheader{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    
}
.cardheader:hover{
    cursor: pointer;
    background-color:rgb(113 194 180);
}

.arrowsicon{
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 17px;
}
.circleiconheader{
    font-size: 9px;
    margin-left: 6px;
    position: relative;
    bottom: 1px;
}
.circleicontitle{

    font-size: 13px;
    position: relative;
    bottom: 2.25px;
    margin-right: 8px;

}

.DownloadAttempt{
    color: #31af36;
    margin-bottom: 8px;
}

.DownloadAttempt:hover{
    cursor: pointer;
    color: #0088ff;
}

.late_heading{
    margin: 0;
    margin-bottom: 6px;
    color: #ffc107;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.setgradelabel{
    font-weight: 400;
    color: #00800c;
    margin-bottom: 5px !important;
    margin-top: 5px;
}
.gradeinput{
    width: 41% !important;
}

.writecomment{
    font-weight: 400;
    color: #00800c;
}

.submitgrade{
    margin-top: 15px;
    background: #0088ff;
    border: 1px solid #f8f8f8;
}

.linebreak{
    width:100%;
    border-top:1px solid #e8e3e3;
    border-radius: 5px;
}

.green{
    color:green;
}
.red{
    color:#dc3545;
}
.yellow{
    color: #ffc107;
}
